* {
  padding: 0;
  margin: 0;
}

html,body{
  overflow-x: hidden;
}

.about-us-background{
  background: gray;
  max-width: 1986px;
  min-width: 320px;
  width:100%;
 }
.container-right card ul li{
  line-height: 56px ;
}

.keep-logo-together{
  display: flex;
  text-align: center ;
  align-items: center;
}

/* banner styling */
.banner-container {
  max-width: 1986px;
  width:100%;
  height: 85px;
  background: #14164a;
}

/* search field styling */
.search-wrapper {
  position: relative;
  color: black;
}

input .search-field {
  background: #fffefe;
  position: absolute;
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
}

.search-field {
  outline: none;
  border: none;
  border-radius: 1.625rem;
  width: 80%;
  height: 40px;
  padding-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
}
/* search icon styling */
.search-box {
  position: absolute;
  top: 3px;
  padding: 3px;
  bottom: 1px;
  left: 60%;
  width: 34px;
  height: 34px;
}

/*navigation styling */
nav {
  display: flex;
  line-height: 1.4em;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

/*center content*/
.container1-main {
  max-width: 1986px;
  width:100%;
  height: 20px;
  top: -187px;
  left: -500px;
  background: #4a4446;
}

#mid-section-2 {
  display: flex;
  max-width: 1986px;
  width:100%;
  height: 123px;
  padding: 34px;
  background: rgba(248, 217, 55, 0.79);
  justify-content: center;
  align-items: center;
}

.section-two-text {
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  /* identical to box height */
  color: #fffefe;
  -webkit-text-stroke: 0.4px #4a4446;
  padding: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

/*images styling*/

.container-3 {
  align-items: center;
  line-height: 0px;
  display: flex;
  justify-content: center;
}

.photo3-container {
  position: relative;
  justify-content: center;
  align-items: center;
}
.photo3-text {
  position: absolute;
  width: 148px;
  height: 25px;
  padding-top: 20px;
  padding-left: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  list-style-type: none;
}

/*home contact information*/
.contact-1 {
  width: 148px;
  height: 25px;
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}

.contact-2 {
  width: 217px;
  height: 72px;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}
.contact-3 {
  width: 111px;
  height: 24px;
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #000000;
}
.contact-4 {
  width: 165px;
  height: 24px;
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #000000;
}
.contact-5 {
  width: 166px;
  height: 48px;
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}

/* footer styling */
footer {
  max-width: 1986px;
  width: 100%;
  height: 222px;
  background: rgba(20, 22, 74, 0.81);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

footer .footer-greeting {
  width: 489px;
  height: 122px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 61px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(248, 217, 55, 0.79);
  padding-bottom: 20px;
}

footer .footer-text {
  padding-top: 30px;
  width: 652px;
  height: 81px;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #fffefe;
  inline-size: 700px;
  position: absolute;
  bottom: 0;
}

.staff-login {
  color: #fffefe;
  text-decoration: underline;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*about-us-hmtl*/

/*Virginia Logo */

.Virginia {
  text-align: center;
  align-items: center;
  display: flex;
  left: 0;
  padding-left: 20px;
  position: absolute;
}

.Gold_Peach_name {
  text-align: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 20%;
}

.virginia-image {
  text-align: center;
  align-items: center;
}
.banner-container-about-us {
  max-width: 1986px;
  width:100%;
  height: 85px;
  background: #14164a;
}

/*mid content*/
.about-us-div {
  background: rgba(231, 229, 229, 0.91);
  max-width: 1986px;
  width:100px;
  height: 809px;
  padding-left: 50px;
}

/*about us left content */
.about-us-overview {
  width: 260px;
  height: 19px;
  font-family: "Inria Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-left: -5em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.about-us-left-square {
  width: 453px;
  height: 709px;
  background: #fffefe;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
}

.left-square-content {
  position: relative;
}

.first-about-us-div {
  position: absolute;
}
.first-about-us-div h2 {
  width: 73px;
  height: 34px;
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #000000;
  margin: 20px;
}

.overview-small-rectangle {
  width: 418px;
  height: 59px;
  background: #f4f1f1;
  border-radius: 5px;
  margin: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 0px;
}

.overview-small-rectangle li a {
  position: absolute;
  text-decoration: none;
}

.second-about-us-div {
  position: absolute;
}
.second-about-us-div .second-section-left-side img {
  position: relative;
  padding-top: 40%;
  padding-bottom: 5%;
  padding-left: 10%;
}

.second-about-us-div .second-section-left-side h2 {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  display: flex;
  text-align: center;
  align-items: center;
}

.second-section-left-side h2 {
  width: 99px;
  height: 34px;
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #000000;
}
/*middle content right side */

.about-us-right-square {
  position: absolute;
  width: 1197px;
  height: 709px;
  background: #fffefe;
  border-radius: 5px;
  display: inline-block;
  margin-left: 10px;
}

.about-us-right-square .second-section-right-sid h2 {
  width: 50px;
  height: 29px;
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  color: #000000;
}

.about-us-right-square .second-section-right-sid .main-header-about-us-right {
  font-family: "Inria Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 23px;
  color: #000000;
  width: 136px;
  height: 23px;
}
.second-section-right-sid ul {
  padding-left: 5%;
}
.second-section-right-sid h2 {
  padding-left: 2%;
}
.second-section-right-sid ul li {
  /*font-family: "Jaldi";*/
  font-style: normal;
  font-weight: 400;
  font-size: 13.5px;
  line-height: 42px;
  color: #000000;
}
.gold linea {
  position: relative;
  padding-top: 20%;
  padding-left: 15%;
}
.gold lineb {
  position: relative;
  padding-top: 20%;
  padding-left: 15%;
}
.gold linec {
  position: relative;
  padding-top: 20%;
  padding-left: 15%;;
}
.gold lined {
  position: relative;
  padding-top: 20%;
  padding-left: 15%;
}
/*book listing page*/
.sub_categories {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 2%;
}

.sub_categories a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: gray;
  text-decoration: none;
  padding-left: 55px;
  padding-right: 55px;
}

/*top book section header*/
.top-book_section_header {
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  color: #000000;
  padding: 50px 10%;
}

.top-book_section .top-books .left-book {
  padding-left: 10%;
  text-align: center;
  align-items: center;
}

.top-book_section .top-books img {
  margin-left: 18px;
  margin-right: 18px;
}

/*bottom book section header*/
.top-book_section .bottom-books .left-book {
  padding-left: 10%;
  text-align: center;
  align-items: center;
}
.bottom-book_section_header {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  color: #000000;
  padding: 50px 10%;
}

.top-book_section .bottom-books img {
  margin-left: 18px;
  margin-right: 18px;
}

/*book listing main div begin*/
.main {
  padding-bottom: 5em;
  max-width: 1760px;
  height: 1106px;
}

/*login html begin*/
.main-login {
  background: url(/assets/pexels-suzy-hazelwood-1887609.jpg);
  max-width: 1986px;
  height: 1206px;
}
.first {
  font-family: "JejuMyeongjo";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 32px;
  text-align: center;
  color: #eecc1c;
  padding: 54px 30% 8px;
  -webkit-text-stroke: 1px black;
}
.sign-in {
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
.login_box_container {
  position: relative;
}
.login-box-wrapper {
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 30%;
}
.sign-in {
  position: absolute;
  padding-left: 2%;
  padding-top: 2%;
  top: 0;
}

.sign-in-text {
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.login-box {
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 675px;
  height: 736px;
}
.email-two input {
 width: 525px;
  height: 40px;
}

.password-two input {
  width: 525px;
  height: 40px;
  height: 40px;
}

.login_box_container-two {
  position: absolute;
  padding-left: 2%;
  padding-top: 5%;
  top: 0;
}

.signin-button {
  width: 175px;
  height: 41px;
  background: #000000;
  border-radius: 30px;
}

.signin-button-wrapper {
  padding-top: 5%;
  position: absolute;
  text-align: center;
  align-items: center;
}
.wrapper-for-signin-text {
  position: relative;
  text-align: left;
  align-items: center;
  margin-left: 18%;
  margin-right: 5%;
  margin-top: 1%;
}
.wrapper-for-signin-text h2 {
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: white;
}
.signin-button-wrapper-one {
  display: flex;
  text-align: center;
  align-items: center;
}

.forgot-wrapper {
  margin-left: 50%;
  display: flex;
  text-align: center;
  align-items: center;
}
.signin-button-wrapper input {
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #fffefe;
}
.line-wrapper {
  padding-top: 30%;
  padding-bottom: 20%;
  text-align: left;
}

.line-wrapper hr {
  width: 100%;
  text-align: center;
}
.add-signup-wrapper-two {
  text-align: left;
}

.add-signup-wrapper-two button {
  background: #fffefe;
  border: 2px solid #000000;
  border-radius: 30px;
  width: 175px;
  height: 41px;
}

.add-signup-wrapper h2 {
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #000000;
}

/*registration page styling*/
.name {
  font-weight: bold;
  font-family: "Jaldi";
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}

.username input {
  width: 365px;
  height: 32px;
}

.email input {
  width: 365px;
  height: 32px;
}

.password input {
  width: 365px;
  height: 32px;
}
.short-bio input {
  width: 365px;
  height: 132px;
}
.form-first-name {
  display: flex;
  gap: 20%;
}
.fullname-div-two {
  display: flex;
  gap: 4%;
}

.registration-page {
  max-width: 1760px;
  height: 1106px;
}
.registration_title_header {
  padding-left: 14%;
  align-items: center;
}
.registration_title {
  padding-top: 20px;
  padding-left: 40%;
  align-items: center;
}

.registration-second-button  input {
  width: 85px;
  height: 34px;
  background: rgba(231, 229, 229, 0.91);
}

.registration_title .registration-title {
  font-family: "Javanese Text";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 54px;
  color: #000000;
}

/* description.html styling */

.hero-book-div {
  display: flex;
  padding-left: 7%;
  padding-top: 10%;
}

.container-two{
display: flex;
}

.container-left card{
  max-width: 253px;
  width:100%;
 }

.stars-div {
  display: flex;
  gap: 0.5em;
  padding-left: 4%;
}

.stars-div p {
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}
.star-reviews {
  display: flex;
}

.contents-right-side {
  /*font-family: "Jaldi";*/
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 39px;
  color: #000000;
}

/*descriptions right side content*/
.contents-div-two {
  padding-left: 15%;
  padding-top: 2%;
}

.author_book_number {
  /*font-family: "Jaldi";*/
  font-style: normal;
  font-weight: 400;
  font-size: 2px;
  line-height: 22px;
  text-align: right;
  color: #000000;
}
.contents-div-two .contents-right-side p {
  /*font-family: "Jaldi";*/
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 39px;
  color: #000000;
}

.top-input-boxes-two {
  display: flex;
}
.top-input-boxes-two .author {
  text-align: left;
}

.top-input-boxes-two p {
  /*font-family: "Jaldi";*/
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  text-align: right;
  color: #000000;
}

/*description right side content bottom*/
.contents-right-side-bottom-1 {
  padding-top: 5%;
}

.contents-right-side-bottom-1 p {
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}

.contents-right-side-bottom-2 {
  padding-top: 5%;
  margin-right: 15%;
}

.contents-right-side-bottom-2 p {
  /*font-family: 'Jaldi';*/
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}

.contents-right-side-bottom-3 p {
  /*font-family: "Jaldi";*/
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}

.contents-right-side-bottom-3 {
  margin-right: 15%;
  padding-top: 5%;
}

/*reviews styling*/
.book-and-title {
  display: flex;
  text-align: left;
  align-items: center;
}

.reviews-div {
  padding-top: 1%;
  display: flex;
}
.reviews-div .heading {
  width: 211px;
  height: 51px;
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 51px;
}

.reviews-stars-div p {
  width: 211px;
  height: 51px;
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 51px;
  color: #000000;
}
.author-reviews-wrapper {
  padding-left: 15%;
  padding-top: 5%;
}

.reviews-stars-div {
  display: flex;
  text-align: left;
  align-items: center;
}
.reviews-div .heading {
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 51px;
  color: #000000;
}

.left-side-reviews {
  padding-left: 2%;
}
.left-side-reviews .reviews-div-three p {
  padding-left: 5%;
}
.right-side-reviews {
  padding-left: 10%;
}

.book-and-title .girl-book-two {
  padding-top: 2%;
}
.right-side-reviews .book-and-title p {
  padding-left: 7%;
}

.reviews-right-side-bottom-3 p {
  overflow-wrap: break-word;
}
.book-and-title p {
  width: 300px;
  height: 68px;
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #000000;
}
.total-ratings {
  padding-left: 5%;
}
.total-ratings p {
  width: 121px;
  height: 25px;
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: rgba(103, 102, 102, 0.99);
}
.reviews-right-side-bottom-1 {
  padding-left: 15%;
}

.reviews-right-side-bottom-1 .first-title {
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 42px;
  color: #000000;
}

.account-name-reviews {
  padding-top: 0.5em;
  display: flex;
  gap: 1em;
}
.reviews-right-side-bottom-2 {
  padding-left: 15%;
  padding-bottom: 1%;
  display: flex;
  text-align: center;
  align-items: center;
}
.reviews-right-side-bottom-2 p {
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  /* identical to box height */
  color: #000000;
}
.reviews-right-side-bottom-3 {
  padding-left: 15%;
}
.reviews-right-side-bottom-3 h5 {
  font-family: "Jaldi";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: rgba(103, 102, 102, 0.99);
}
.reviews-right-side-bottom-3 p {
  /*font-family: "Jaldi";*/
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}

.customer-reviews-fifth {
  display: flex;
  padding-top: 5%;
  gap: 1em;
  text-align: center;
  align-items: center;
  padding-bottom: 5%;
  padding-left: 5%;
}
.customer-reviews-fourth {
  display: flex;
  gap: 1em;
  text-align: center;
  align-items: center;
  padding-bottom: 5%;
  padding-left: 5%;
}
.customer-reviews-third {
  display: flex;
  gap: 1em;
  text-align: center;
  align-items: center;
  padding-bottom: 5%;
  padding-left: 5%;
}
.customer-reviews-second {
  display: flex;
  gap: 1em;
  text-align: center;
  align-items: center;
  padding-bottom: 5%;
  padding-left: 5%;
}

.customer-reviews-first {
  display: flex;
  gap: 1em;
  text-align: center;
  align-items: center;
  padding-left: 5%;
}

.review-button-review-wrapper {
  padding-top: 5%;
  padding-left: 25%;
}

.review-button-review-wrapper button {
  box-sizing: border-box;
  position: absolute;
  width: 134px;
  height: 31px;
  background: #fffefe;
  border: 1px solid rgba(184, 181, 181, 0.99);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

/*media query*/
@media screen and (max-width: 600px) {
  .banner-container-about-us a {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .banner-container-about-us a {
  float: none;
  width: 100%;
  }
}
  @media screen and (max-width: 480px) {
    .main-login .banner-container-about-us nav a{
    float: none;
    width: 100%;
    font-size: 15px;
    }
}
/*test*/
.container{
  display: flex;
  padding:40px;
}

.card{
  background:white;
  border-radius:25px;
  padding:20px;
  margin: 10px;
}


.container-right{
  width:70%;
}

.container-left hr{
 border: 2px solid gray;
}
.container-right hr{
  border: 2px solid gold;
 }

 .card div{
  padding:20px;
 }

 .container-left h2{
  padding:30px 10px;
 }

 /*media query*/
 @media screen and (max-width: 800px) {
  .banner-container-about-us a {
  float: none;
  width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .banner-container-about-us a {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .banner-container-about-us a {
  float: none;
  width: 100%;
  flex-direction: column;
  }
}


@media screen and (max-width: 480px) {
  .container{
  flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .login-box-wrapper{
 padding-left: 10%;
 padding-right: 10%;
 text-align: left;
 align-items: center;
  }
    .email-two input{
      width:220px;
    }
    .password-two input{
      width:220px;
    }
    .first{
      text-align: center;
      padding-left: 10%;
    }
    .signin-button-wrapper-one{
      margin-right: 15%;
    }
  }

  @media screen and (max-width: 480px) {
    .registration_title{
      
   padding-left: 10%;
    }
    .registration_title_header{
      text-align: center;
    }
  }
  
  @media screen and (max-width: 480px) {
    .sub_categories a{
      padding: 0;
     
    }
  
  }

  @media screen and (max-width: 480px) {
    .sub_categories a{
      padding: 0;
     
    }
  
  }

  @media screen and (max-width: 480px) {
  .top-book_section .top-books img {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 480px) {
.top-book_section .bottom-books img {
  margin-left: 5px;
  margin-right: 5px;
}
}

@media screen and (max-width: 480px) {
.container-two{
  flex-direction: column;
}
.contents-div-two .contents-right-side p {
  font-size: 16px;
}
.book-and-title {
padding-left: 20px;
}


.forgot-wrapper {
  margin-left: 20px;
}
}

