*{
margin: 0px;
}

nav{
    background-color: #14164A;
    line-height: 1.4em;
    text-align: center;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px
}

nav a {
    text-decoration: none;
    color: white;
}


#mid-section-2{
    background-color:  #F7DE5F;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

#mid-section-3{
    background-color:  #3E3F6B;
   
}

#section-2-text{
 font-family: Jaldi, sans-serif;
 font-size: 48px;
 color: aliceblue;
 -webkit-text-stroke: .4px #4A4446;
 padding: 30px;
}

#navigation-home{
    margin-left: 25px;
}

#navigation-home-two{
    margin-right: 25px;
}

.staff-login{
    color: #FFFEFE;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    right: 0;  
}

.section-3-text{
    font-size: 42px;
    line-height: 61px;
    display: flex;
    text-align: center;
    color: rgba(248, 217, 55, 0.79);
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 80px;
    font-family: sans-serif;
}

.section-3a-text{
    font-style: normal;
    font-size: 16px;
    line-height: 27px;
    color: #FFFEFE;
    inline-size: 700px;
    position: absolute;
    bottom: 0;   
}
.parent-mid-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}
#mid-section{
    background-color:  #4A4446;
    padding:10px;
}

.photos-together-center{
    width: 630px;
    height: 450px;
}

.photos-together-left{
    width: 100%;
    height: 100%;
}

.photos-together-right{
    width: 630px;
    height: 450px;
}

.container-3{
    line-height: 0px;
    display: flex;
    justify-content: space-between;

}

.image-left{
    width: 630px;
    height: 450px;  
}